html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Helvetic, Sans-Serif;
}
body {
    min-height: 100vh;
    background-color: #BADBE6;
    position: relative;
}
#divcontainer {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background-color: #76B7CD;
}
.search-wrapper {
    position: relative;
    display: inline-block;
    width: fit-content;
}
#searchbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#cityInput {
    padding: 15px 50px 15px 15px;
    border-radius: 10px;
    border: solid black;
    outline: none;
    text-align: left;
    width: 500px;
    box-sizing: border-box;
}
i {
    font-size: 18px;
    cursor: pointer;
    margin-left: 10px;

}

#searchIcon {
    position: absolute;
    right: 1px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 5px 10px;

}
#searchbutton {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;

}

#searchbutton i {
    font-size: 18px;
    color: #333;
}

#searchbutton:hover i {
    color: #000;
}
.error-message {
    color: #d32f2f;
    background-color: #ffebee;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
    border: 1px solid #ef5350;
    width: 500px;
}
.search-heading {
    margin: 0;
    padding-top: 35px;
    text-align: center;
}
#center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px);
}
#heading {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    color: #D98326;
    border-radius: 10px;
}
.heading-icon {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 8px;
}
#site-buttons {
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #F1ECE6;
}
.home-button {
    background-color: #ECEFF1;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}
.cloud {
    position: absolute;
    background: #ECEFF1;
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    border-radius: 100px;
    z-index: 1;
}

.cloud:after, .cloud:before {
    content: "";
    position: absolute;
    background: inherit;
    border-radius: inherit;
}


.cloud-large {
    width: 175px;
    height: 60px;
}

.cloud-large::after {
    width: 50px;
    height: 50px;
    top: -25px;
    left: 25px;
}

.cloud-large::before {
    width: 90px;
    height: 90px;
    top: -45px;
    left: 65px;
}


.cloud-medium {
    width: 140px;
    height: 48px;
}

.cloud-medium::after {
    width: 40px;
    height: 40px;
    top: -20px;
    left: 20px;
}

.cloud-medium::before {
    width: 72px;
    height: 72px;
    top: -36px;
    left: 52px;
}


.cloud-small {
    width: 105px;
    height: 36px;
}

.cloud-small::after {
    width: 30px;
    height: 30px;
    top: -15px;
    left: 15px;
}

.cloud-small::before {
    width: 54px;
    height: 54px;
    top: -27px;
    left: 39px;
}

.cloud1 { top: 35%; left: 22%; }
.cloud2 { top: 75%; right: 35%; }
.cloud3 { top: 75%; left: 20%; }
.cloud4 { top: 23%; right: 40%; }
.cloud5 { top: 10%; left: 30%; }
.cloud6 { top: 40%; right: 25%; }
.cloud7 { top: 83%; left: 38%; }
.cloud8 { top: 83%; right: 20%; }


.sun {
    position: absolute;
    width: 120px;
    height: 120px;
    background: #D98326;
    border-radius: 50%;
    box-shadow: 0 0 40px rgba(255, 215, 0, 0.6);
    z-index: 0;
    left: 22%;
    top: 27%;
}


.sun::before {
    content: "";
    position: absolute;
    width: 140px;
    height: 140px;
    background: radial-gradient(circle, rgba(255, 215, 0, 0.3) 0%, transparent 70%);
    border-radius: 50%;
    top: -10px;
    left: -10px;
}

