body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-top: 100px;
    background-color: #a0d9ef;
}
.weather-container {
    border: black solid 2px;
    display: block;
    border-radius: 10px;
    width: 15%;
    height: 290px;
    background-color: #cfecf7;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.weather-container p {
    padding-left: 20px;
}
#weather_div {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background-color: #f5b15d;
    overflow: hidden;
}
#hourly_forecast_div {
    height: 100%;
    overflow-y: auto
}
.hourly-wrapper {
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 15%;
    height: 290px;
    overflow: hidden;
    border: black solid 2px;
    border-radius: 10px;
    background-color: #cfecf7;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.hour-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
}
.separator {
    font-size: 20px;
}
.hour {

    font-size: 20px;
}
.temp {
    font-size: 20px;
}

#site-buttons {
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    border: black solid 2px;
    width: 100%;
    z-index: 10;
}
.cloud {
    position: absolute;
    background: #ECEFF1;
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    border-radius: 100px;
    z-index: 1;
}

.cloud:after, .cloud:before {
    content: "";
    position: absolute;
    background: inherit;
    border-radius: inherit;
}


.cloud-large {
    width: 175px;
    height: 60px;
}

.cloud-large::after {
    width: 50px;
    height: 50px;
    top: -25px;
    left: 25px;
}

.cloud-large::before {
    width: 90px;
    height: 90px;
    top: -45px;
    left: 65px;
}


.cloud-medium {
    width: 140px;
    height: 48px;
}

.cloud-medium::after {
    width: 40px;
    height: 40px;
    top: -20px;
    left: 20px;
}

.cloud-medium::before {
    width: 72px;
    height: 72px;
    top: -36px;
    left: 52px;
}


.cloud-small {
    width: 105px;
    height: 36px;
}

.cloud-small::after {
    width: 30px;
    height: 30px;
    top: -15px;
    left: 15px;
}

.cloud-small::before {
    width: 54px;
    height: 54px;
    top: -27px;
    left: 39px;
}


.cloud1 { top: 15%; left: 10%; }
.cloud2 { top: 75%; right: 35%; }
.cloud3 { top: 75%; left: 20%; }
.cloud4 { top: 15%; right: 25%; }
.cloud5 { top: 10%; left: 30%; }
.cloud6 { top: 6%; right: 16%; }
.cloud7 { top: 83%; left: 38%; }
.cloud8 { top: 83%; right: 20%; }


.sun {
    position: absolute;
    width: 120px;
    height: 120px;
    background: #FFD700;
    border-radius: 50%;
    box-shadow: 0 0 40px rgba(255, 215, 0, 0.6);
    z-index: 0;
    left: 10%;
    top: 8%;
}


.sun::before {
    content: "";
    position: absolute;
    width: 140px;
    height: 140px;
    background: radial-gradient(circle, rgba(255, 215, 0, 0.3) 0%, transparent 70%);
    border-radius: 50%;
    top: -10px;
    left: -10px;
}

div::-webkit-scrollbar {
    width: 0.2em;
}

div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

div::-webkit-scrollbar-thumb {
  background-color: #E97451;
  outline: 1px solid red;
}