<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'hourly_weather.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.12/css/weather-icons.min.css">
</head>
<body>
    <div id="divcontainer">
        <form id="searchbar" method="GET" action="{% url 'search_weather' %}">
        <div class="search-wrapper">
        <input type="text" id="cityInput" name="city" list="citySuggestions" onblur="HandleOnBlur()" onfocus="HandleOnFocus()" autocomplete="off" placeholder="Enter a city..." required>
        <button id="searchbutton" type="submit"><i id="searchIcon" class="fa-solid fa-magnifying-glass"></i></button>
        <ul id="citySuggestions"></ul>
        </div>
        </form>
    </div>
    <h1>Hourly weather for {{ city|title }}</h1>
    <div class="hourly-wrapper" id="hourly-wrapper">
    </div>
    <div class="page-subnav">
        <div class="secondary-subnav">
            <a href="{% url 'city_weather' city=city %}?view=current" class="subnav-item">
                <h2>Current</h2>
            </a>
            <a href="{% url 'city_weather' city=city %}?view=hourly" class="subnav-item">
                <h2>Hourly</h2>
            </a>
        </div>
    </div>
    <div id="weather_div">
        <div id="site-buttons">
            <nav>
                <ul>
                    <li><a href="{% url 'search_weather' %}" class="home-button">Home</a></li>
                    <li class="github-container"><a href="https://github.com/BobiBash"><img class="github-button" src="{% static 'imgs/Github_Logo.png' %}" alt="GitHub"></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <script id="hourly-forecast-data" type="application/json">
        {{ hourly_forecast|safe }}
    </script>
    <script>
    function HandleOnBlur() {
        setTimeout(() => {
            document.getElementById('citySuggestions').classList.remove('show');
        }, 200);
    }

    function HandleOnFocus() {
        document.getElementById('citySuggestions').classList.add('show');
    }
    </script>
    <script>
    const BACKGROUND_IMAGES = [
        "{% static 'imgs/weather_pics/img1.png' %}",
        "{% static 'imgs/weather_pics/img2.png' %}",
        "{% static 'imgs/weather_pics/img3.png' %}",
        "{% static 'imgs/weather_pics/img4.png' %}",
        "{% static 'imgs/weather_pics/img5.png' %}"
    ];
    </script>
    <script src="{% static 'background_randomizer.js' %}"></script>
    <script src="{% static 'hourly_weather.js' %}"></script>
    <script src="{% static 'autocompletion.js' %}"></script>
</body>
</html>