<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'weather_style.css' %}">
</head>
<body>
    <div class="sun"></div>
    <div class="cloud cloud-large cloud1"></div>
    <div class="cloud cloud-medium cloud2"></div>
    <div class="cloud cloud-small cloud3"></div>
    <div class="cloud cloud-large cloud4"></div>
    <div class="cloud cloud-medium cloud5"></div>
    <div class="cloud cloud-small cloud6"></div>
    <div class="cloud cloud-medium cloud7"></div>
    <div class="cloud cloud-large cloud8"></div>
    <div class="cloud"></div>
    <h1>Weather for {{ city|title }}</h1>
    <div id="weather_div">
        <div id="bottom_site-buttons">
            <nav>
                <ul>
                    <li class="github-container"><a href="https://github.com/BobiBash"><img class="github-button" src="{% static 'imgs/Github_Logo.png' %}" alt="GitHub"></a></li>
                </ul>
            </nav>
        </div>
        <div id="site-buttons">
            <nav>
                <ul>
                    <li><a href="{% url 'search_weather' %}" class="home-button">Home</a></li>
                </ul>
            </nav>
        </div>
        <div class="weather-wrapper">
            <div class="weather-container">
                <p>Temperature: {{ temperature }}°C</p>
                <p>Feels like: {{ apparent_temperature }}°C</p>
                <p>Condition: {{ description }}</p>
                <p>Air Quality: {{ air_quality }}</p>
                <p>Humidity: {{ relative_humidity }}%</p>
                <p>Precipitation: {{ precipitation_chance }}%</p>
                <p>Rain: {{ rain }}mm</p>
                <p>WindSpeed: {{ wind_speed }}km/h</p>
                <p>WindDirection: {{ wind_direction }}°</p>
                <p>Sunset: {{ sunset }}</p>
                <p>Sunrise: {{ sunrise }}</p>
            </div>
        </div>
        <div class="hourly-wrapper">
            <div id="hourly_forecast_div">
                {% for hour in hourly_forecast %}
                    <div class="hour-row">
                        <span class="hour">{{ hour.time }}</span>
                        <span class="separator">-</span>
                        <span class="temp">{{ hour.temp }}°C</span>
                        <span class="rain_probability">💧{{ hour.rain_chance }}%</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>